<section class="modal hide" id="cartModal">
  <div class="container modal-container">
    <div class="modal-content fade">
      <h3 class="modal-header">Your Choice</h3>

      <div class="modal-descr">
        <div class="modal-descr__img">
          <img src="img/album/TattooYou_Stones.jpg" alt="album poster">
        </div>

        <div class="modal-descr__info">
          <span class="modal-descr__band">Band: Roling Stones</span>
          <span class="modal-descr__album">Album: "Tatoo you"</span>
          <span class="modal-descr__price">Price: 30<span>$</span></span>

          <div class="modal-counter">
            <button class="modal-counter__minus">V</button>
            <span class="modal-counter__quantity">1</span>
            <button class="modal-counter__plus">V</button>
            <button class="modal-counter__remove">X</button>
          </div>
        </div>
      </div>

      <div class="modal-descr">
        <div class="modal-descr__img">
          <img src="img/album/TattooYou_Stones.jpg" alt="album poster">
        </div>

        <div class="modal-descr__info">
          <span class="modal-descr__band">Band: Roling Stones</span>
          <span class="modal-descr__album">Album: "Tatoo you"</span>
          <span class="modal-descr__price">Price: 30<span>$</span></span>

          <div class="modal-counter">
            <button class="modal-counter__minus">V</button>
            <span class="modal-counter__quantity">1</span>
            <button class="modal-counter__plus">V</button>
            <button class="modal-counter__remove">X</button>
          </div>
        </div>
      </div>

      <div class="modal-total">
        <span class="modal-total__text">Summary</span>
        <span class="modal-total__sumPrice">Price: 20<span>$</span></span>
        <span class="modal-total__sumQuantity">Quantity: 1<span>pcs.</span></span>
      </div>

      <div class="modal-btn">
        <button class="modal-btn btn-buy">Accept</button>
        <button class="modal-btn btn-buy">Cancel</button>
      </div>
    </div>
  </div>
</section>
