<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-top__menu">
        <ul class="footer-menu">
          <li class="footer-menu__item" href="#">New Releases</li>
          <li class="footer-menu__item" href="#">Vinyl</li>
          <li class="footer-menu__item" href="#">Digital</li>
        </ul>

        <ul class="footer-menu">
          <li class="footer-menu__item" href="#">Delivery</li>
          <li class="footer-menu__item" href="#">Contacts</li>
          <li class="footer-menu__item" href="#">Login</li>
        </ul>
      </div>

      <div class="footer-contacts">
        <a class="footer-logo" href="#">
          <img src="img/svg/logo.svg" alt="logo Central music">
        </a>

        <div class="footer-social">
          <a href="#" class="footer-social__icons icon-twitter">
            <img src="img/svg/twitter.svg" alt="twitter">
          </a>

          <a href="#" class="footer-social__icons icon-instagram">
            <img src="img/svg/instagram.svg" alt="instagram">
          </a>

          <a href="#" class="footer-social__icons icon-facebook">
            <img src="img/svg/facebook.svg" alt="facebook">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <span class="foter-bottom__copyright">
        &copy2022 Music Store by Roman Budai
      </span>
    </div>
  </div>
</footer>
