<header class="header">
  <div class="container">
    <div class="header-top">
      <a href="#" class="header-link">
        <img src="img/svg/logo.svg" alt="central music logo">
      </a>

      <nav>
        <ul class="header-menu">
          <li class="header-menu__item" href="#">New releases</li>
          <li class="header-menu__item" href="#">Vinyl</li>
          <li class="header-menu__item" href="#">Digital</li>
          <li class="header-menu__item" href="#">Delivery</li>
          <li class="header-menu__item" href="#">Contacts</li>
        </ul>
      </nav>

      <div class="header-actions">
        <div class="header-actions__cart header-actions__icon">
          <a href="#cartModal"><img src="img/svg/icon_cart.svg" alt="cart icon"></a>
        </div>

        <div class="header-actions__profile header-actions__icon">
          <a href="#cartLogin"><img src="img/svg/profile_icon.svg" alt="profile icon"></a>
        </div>
      </div>
    </div>

    <h1 class="header-title">Vinyl & Digital <br> music with best price </h1>

    <div class="header-bottom">
      <div class="header-player">
        <button class="header-player__btn btn_play" onclick="play()">Play</button>
        <button class="header-player__btn btn_pause" onclick="pause()">Pause</button>
        <button class="header-player__btn btn_stop" onclick="stop()">Stop</button>
      </div>

      <div class="header-barContainer">
        <div class="header-durationBar">
          <div class="header-positionBar"><span class="header-displayStatus"></span></div>
        </div>
      </div>
    </div>
  </div>
</header>
