<section class="login hide" id="loginModal">
  <div class="container login-container">
    <div class="login-content fade">
      <h3 class="login-header">Sign In</h3>

      <button class="login-btn btn-buy">Register</button>

      <form class="login-form" action="#">
        <div class="login-user">
          <label class="login-user__label" for="text">Enter your login:</label>
          <input class="login-user__input" type="text" name="name" id="name" placeholder="My login"  />
        </div>

        <div class="login-lock">
          <label class="login-lock__label" for="password">Enter your password:</label>
          <input class="login-lock__input" type="password" name="name" id="name" placeholder="******" />
        </div>

        <div class="login-signIn">
          <button id="#registerModal" class="login-signIn__btn btn-buy">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</section>
