<section class="register hide" id="registerModal">
  <div class="container register-container">
    <div class="register-content fade">
      <h3 class="register-header">Register form</h3>


      <form class="register-form" action="#">
        <div class="register-name register-form__field">
          <label class="register-name__label" for="text">My name:</label>
          <input class="register-name__input register-form__input" type="text" name="name" id="name" placeholder="My name is..."  />
        </div>

        <div class="register-surname register-form__field">
          <label class="register-surname__label" for="text">My your surname:</label>
          <input class="register-surname__input register-form__input" type="text" name="name" id="name" placeholder="My surname is..."  />
        </div>

        <div class="register-mail register-form__field">
          <label class="register-mail__label" for="text">Enter mail:</label>
          <input class="register-mail__input register-form__input" type="email" name="name" id="name" placeholder="My email@..."  />
        </div>

        <div class="register-lock register-form__field">
          <label class="register-lock__label" for="password">Enter your password:</label>
          <input class="register-lock__input register-form__input" type="password" name="name" id="name" placeholder="******" />
        </div>

        <div class="register-lock register-form__field">
          <label class="register-lock__label" for="password">Confirm your password:</label>
          <input class="register-lock__input register-form__input" type="password" name="name" id="name" placeholder="******" />
        </div>

        <div class="register-signIn">
          <input class="register-btn btn-buy" type="submit" value="Register" />
        </div>

        <div class="register-signIn">
          <button class="register-btn__cancel btn-buy">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</section>
