<section class="store">
  <div class="container">
    <div class="releases">
      <h2 class="releases-title store-title">New Releases</h2>

      <div class="releases-wrapper">
        <div class="releases-item">
          <div class="releases-item__img">
            <img src="img/album/TattooYou_Stones.jpg" alt="releases image">
          </div>

          <div class="releases-item__descr">
            <div class="releases-info">
              <span class="releases-info__band">Rolling Stones</span>
              <span class="releases-info__price">20$</span>
            </div>

            <div class="releases-descr">
              <span class="releases-descr__album releases-descr__list"><span>Album: </span>Tatoo you</span>
              <span class="releases-descr__year releases-descr__list"><span>Year: </span>1987</span>
              <span class="releases-descr__genre releases-descr__list"><span>Genre: </span>rock&roll</span>
              <span class="releases-descr__record releases-descr__list"><span>Record: </span>vinyl</span>
            </div>

            <button class="releases-btn btn-buy">Add to Cart</button>
          </div>
        </div>

        <div class="releases-item">
          <div class="releases-item__img">
            <img src="img/album/TattooYou_Stones.jpg" alt="releases image">
          </div>

          <div class="releases-item__descr">
            <div class="releases-info">
              <span class="releases-info__band">Rolling Stones</span>
              <span class="releases-info__price">20$</span>
            </div>

            <div class="releases-descr">
              <span class="releases-descr__album releases-descr__list"><span>Album: </span>Tatoo you</span>
              <span class="releases-descr__year releases-descr__list"><span>Year: </span>1987</span>
              <span class="releases-descr__genre releases-descr__list"><span>Genre: </span>rock&roll</span>
              <span class="releases-descr__record releases-descr__list"><span>Record: </span>vinyl</span>
            </div>

            <button class="releases-btn btn-buy">Add to Cart</button>
          </div>
        </div>

        <div class="releases-item">
          <div class="releases-item__img">
            <img src="img/album/TattooYou_Stones.jpg" alt="releases image">
          </div>

          <div class="releases-item__descr">
            <div class="releases-info">
              <span class="releases-info__band">Rolling Stones</span>
              <span class="releases-info__price">20$</span>
            </div>

            <div class="releases-descr">
              <span class="releases-descr__album releases-descr__list"><span>Album: </span>Tatoo you</span>
              <span class="releases-descr__year releases-descr__list"><span>Year: </span>1987</span>
              <span class="releases-descr__genre releases-descr__list"><span>Genre: </span>rock&roll</span>
              <span class="releases-descr__record releases-descr__list"><span>Record: </span>vinyl</span>
            </div>

            <button class="releases-btn btn-buy">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

    <div class="shop">
      <h2 class="shop-title store-title">Music Shop</h2>

      <div class="shop-filter">
        <input class="shop-filter__search" type="search" placeholder="Enter band name...">

        <div class="shop-filter__btn">
          <button class="shop-filter__price btn-filter btn-buy">Sort by price</button>
          <button class="shop-filter__settings btn-filter btn-buy">Filter</button>
        </div>
      </div>

      <div class="shop-container">
        <aside class="shop-filter__aside hide">
          <h3 class="filter-title">Price</h3>

          <div class="filter-content">
            <div class="content-price">
              <div class="price-inner">
                <label class="price-inner__label">From
                  <input class="price-inner__input" data-price ='minPrice' type="number" placeholder="0">
                </label>
              </div>
              <div class="price-inner">
                <label class="price-inner__label">To
                  <input class="price-inner__input" data-price ='maxPrice' type="number" placeholder="350">
                </label>
              </div>
            </div>
          </div>

          <h3 class="filter-title genre-title">Genre</h3>
          <div class="filter-content">
            <div class="content-genre">
              <div class="genre-inner">
                <label class="genre-inner__label filter-label"><input type="checkbox" class="genre-inner_checkbox filter-checkbox" value="Rock">Rock</label>
              </div>
              <div class="genre-inner">
                <label class="genre-inner__label filter-label"><input type="checkbox" class="genre-inner_checkbox filter-checkbox" value="Pop">Pop</label>
              </div>
              <div class="genre-inner">
                <label class="genre-inner__label filter-label"><input type="checkbox" class="genre-inner_checkbox filter-checkbox" value="Rock&Roll">Rock&Roll</label>
              </div>
              <div class="genre-inner">
                <label class="genre-inner__label filter-label"><input type="checkbox" class="genre-inner_checkbox filter-checkbox" value="Indie">Indie</label>
              </div>
              <div class="genre-inner">
                <label class="genre-inner__label filter-label"><input type="checkbox" class="genre-inner_checkbox filter-checkbox" value="Ambient">Ambient</label>
              </div>
              <div class="genre-inner">
                <label class="genre-inner__label filter-label"><input type="checkbox" class="genre-inner_checkbox filter-checkbox" value="Rap">Rap</label>
              </div>
            </div>
          </div>
        </aside>

        <div class="shop-wrapper">
          <div class="shop-item">
            <div class="shop-item__img">
              <img src="img/album/TattooYou_Stones.jpg" alt="releases image">
            </div>

            <div class="shop-item__descr">
              <div class="shop-info">
                <span class="shop-info__band">Rolling Stones</span>
                <span class="shop-info__price">20$</span>
              </div>

              <div class="shop-descr">
                <span class="shop-descr__album shop-descr__list"><span>Album: </span>Tatoo you</span>
                <span class="shop-descr__year shop-descr__list"><span>Year: </span>1987</span>
                <span class="shop-descr__genre shop-descr__list"><span>Genre: </span>rock&roll</span>
                <span class="shop-descr__record shop-descr__list"><span>Record: </span>vinyl</span>
              </div>

              <button class="shop-btn btn-buy">Add to Cart</button>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-item__img">
              <img src="img/album/TattooYou_Stones.jpg" alt="releases image">
            </div>

            <div class="shop-item__descr">
              <div class="shop-info">
                <span class="shop-info__band">Rolling Stones</span>
                <span class="shop-info__price">20$</span>
              </div>

              <div class="shop-descr">
                <span class="shop-descr__album shop-descr__list"><span>Album: </span>Tatoo you</span>
                <span class="shop-descr__year shop-descr__list"><span>Year: </span>1987</span>
                <span class="shop-descr__genre shop-descr__list"><span>Genre: </span>rock&roll</span>
                <span class="shop-descr__record shop-descr__list"><span>Record: </span>vinyl</span>
              </div>

              <button class="shop-btn btn-buy">Add to Cart</button>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-item__img">
              <img src="img/album/TattooYou_Stones.jpg" alt="releases image">
            </div>

            <div class="shop-item__descr">
              <div class="shop-info">
                <span class="shop-info__band">Rolling Stones</span>
                <span class="shop-info__price">20$</span>
              </div>

              <div class="shop-descr">
                <span class="shop-descr__album shop-descr__list"><span>Album: </span>Tatoo you</span>
                <span class="shop-descr__year shop-descr__list"><span>Year: </span>1987</span>
                <span class="shop-descr__genre shop-descr__list"><span>Genre: </span>rock&roll</span>
                <span class="shop-descr__record shop-descr__list"><span>Record: </span>vinyl</span>
              </div>

              <button class="shop-btn btn-buy">Add to Cart</button>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-item__img">
              <img src="img/album/TattooYou_Stones.jpg" alt="releases image">
            </div>

            <div class="shop-item__descr">
              <div class="shop-info">
                <span class="shop-info__band">Rolling Stones</span>
                <span class="shop-info__price">20$</span>
              </div>

              <div class="shop-descr">
                <span class="shop-descr__album shop-descr__list"><span>Album: </span>Tatoo you</span>
                <span class="shop-descr__year shop-descr__list"><span>Year: </span>1987</span>
                <span class="shop-descr__genre shop-descr__list"><span>Genre: </span>rock&roll</span>
                <span class="shop-descr__record shop-descr__list"><span>Record: </span>vinyl</span>
              </div>

              <button class="shop-btn btn-buy">Add to Cart</button>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-item__img">
              <img src="img/album/TattooYou_Stones.jpg" alt="releases image">
            </div>

            <div class="shop-item__descr">
              <div class="shop-info">
                <span class="shop-info__band">Rolling Stones</span>
                <span class="shop-info__price">20$</span>
              </div>

              <div class="shop-descr">
                <span class="shop-descr__album shop-descr__list"><span>Album: </span>Tatoo you</span>
                <span class="shop-descr__year shop-descr__list"><span>Year: </span>1987</span>
                <span class="shop-descr__genre shop-descr__list"><span>Genre: </span>rock&roll</span>
                <span class="shop-descr__record shop-descr__list"><span>Record: </span>vinyl</span>
              </div>

              <button class="shop-btn btn-buy">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
