.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 200ms ease-in;
  pointer-events: none; 
  
  &:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }
  &-container {
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &-content {
    background:var(--bkg-color);
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    margin: 10px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    text-align: center;
    padding: 20px;
    &__cross {
      position: absolute;
      width: 20px;
      height: 20px;
      cursor: pointer;
      right: 15px;
      top: 10px;
      svg {
        fill: rgb(135, 16, 16);
        opacity: .5;
      }
    }
  }
  &-descr {
    padding: 10px;
    display: flex;
    align-items: center;
    &__img {
      width: 100px;
      height: 100px;
      margin-right: 22px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &-counter {
    display: flex;
    margin-top: 10px;
    &__minus {
      width: 20px;
      height: 20px;
      position: relative;
      background-color: #3C44B1;
      border-radius: 2px;
      border: none;
      cursor: pointer;
      margin-right: 12px;
      color: var(--light-color);
      transform: rotate(90deg);
    }
    &__quantity {
      margin-right: 12px;
    }
    &__plus {
      width: 20px;
      height: 20px;
      position: relative;
      background-color: #3C44B1;
      border-radius: 2px;
      border: none;
      cursor: pointer;
      margin-right: 25px;
      color: var(--light-color);
      transform: rotate(-90deg);
    }
    &__remove {
      width: 20px;
      height: 20px;
      position: relative;
      background: rgba(248, 50, 69, 0.15);
      border-radius: 2px;
      font-size: 16px;
      color:#F83245;
      border: none;
      cursor: pointer;
      margin-right: 30px;
    }
  }
  &-total{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child {
      margin-right: 10px;
    }
  }
}

.hide {
  display:none
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from{opacity: 0.1;}
  to{opacity: 1;}
}