.modal {
  background: rgba(0,0,0,0.5);
  pointer-events: none;
  font-family: var(--font-family-work);
  &-header {
    text-transform: uppercase;
    font-family: var(--font-family);
  }
  &-content {
    background:var(--bkg-color);
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    margin: 10px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    text-align: center;
    padding: 20px;
    &__cross {
      position: absolute;
      width: 20px;
      height: 20px;
      cursor: pointer;
      right: 15px;
      top: 10px;
      svg {
        fill: rgb(135, 16, 16);
        opacity: .5;
      }
    }
  }
  &-descr {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 33%;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__img {
      width: 100px;
      height: 100px;
      margin-right: 22px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &-counter {
    display: flex;
    margin-top: 10px;
    &__minus {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      background-color: #3C44B1;
      border-radius: 2px;
      border: none;
      cursor: pointer;
      margin-right: 12px;
      color: var(--light-color);
      transform: rotate(90deg);
    }
    &__quantity {
      margin-right: 12px;
    }
    &__plus {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      background-color: #3C44B1;
      border-radius: 2px;
      border: none;
      cursor: pointer;
      margin-right: 25px;
      color: var(--light-color);
      transform: rotate(-90deg);
    }
    &__remove {
      display: flex;
      align-items: center;
      padding: 0;
      width: 20px;
      height: 20px;
      background: rgba(248, 50, 69, 0.15);
      border-radius: 2px;
      border: 1px solid var(--light-color);
      cursor: pointer;
      svg {
        fill: red;
        width: 18px;
        height: 18px;
      }
    }
  }
  &-total{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    &__text {
      text-decoration: underline;
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child {
      margin-right: 10px;
    }
  }
}

.hide {
  display:none
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from{opacity: 0.1;}
  to{opacity: 1;}
}