.profile {
  background: var(--grey-color);
  font-family: var(--font-family-work);
  padding: 15px 0;
  transition: opacity 200ms ease-in;
  &-content {
    background:var(--bkg-color);
    box-shadow: 14px 14px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    margin: 10px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    text-align: center;
    padding: 20px;
  }
  &-header {
    margin: 0;
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
    text-decoration: underline;
  }
  &-avatar {
    display: flex;
    flex-direction: column;
    &__btn {
      margin-top: 10px;
    }
    &__form {
      margin-top: 10px;
      height: fit-content;
    }
    &__label {
      font-family: var(--font-family);
      font-size: 14px;
    }
  }
  &-descr {
    display: flex;
  }
  &-info {
    display: flex;
    flex-direction: column;
    width: 25%;
    &__list {
      list-style-type: none;
      text-align: left;
      padding: 0;
      li {
        margin-top: 5px;
      }
    }
    &__avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      border-radius: 5px;
      margin: auto;
      background: #e0e0e0;
      box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
      img {
        background-size: cover;
      }
    }
  }
  &-orders {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item {
      width: 23%;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      justify-content: space-between;
      margin-bottom: 15px;
      margin-right: 15px;
    }
  }
}