.profile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  //opacity: 0;
  transition: opacity 200ms ease-in;
  //pointer-events: none;
  &-cross {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    right: 15px;
    top: 10px;
    svg {
      fill: rgb(135, 16, 16);
      opacity: .5;
    }
  }
  &:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }
  &-container {
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &-content {
    background:var(--bkg-color);
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    margin: 10px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    text-align: center;
    padding: 20px;

  }
  &-header {
    margin: 0;
    margin-top: 20px;
  }
  &-descr {
    display: flex;
  }
  &-info {
    display: flex;
    flex-direction: column;
    &__list {
      list-style-type: none;
      text-align: left;
      li {
        margin-top: 5px;
      }
    }
    &__avatar {
      width: 100px;
      height: 100px;
      border-radius: 5px;
      margin: auto;
      background: #e0e0e0;
      box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
      img {
        background-size: cover;
      }
    }
  }
  &-orders {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: max-content;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      justify-content: space-between;
      margin-bottom: 15px;
      margin-right: 15px;
    }
  }
}
